<!DOCTYPE HTML>
<html>
	<head>
		<title>User-Profil</title>
	</head>
	<body>
			<h1><%= user.firstname %> <%= user.lastname %>'s Profil</h1>
			<p>
					Profilbild: <img src= <%= user.avatar %> alt="Smiley face" height="42" width="42">
					<form action="<%= '/avatar/' + user._id %>" method="POST">
					Link zum gew체nschten Profilbild: <input type="text" name="avatarLink">
					<button type="submit">Profilbild 채ndern</button>
					</form>
					Vorname: <%= user.firstname %><br/>
					Nachname: <%= user.lastname %><br/>
					E-Mail: <%= user.email %>@haw-hamburg.de<br/>
					Beschreibung:
					<form action="<%= '/edit/' + user._id %>" method="POST">
						<textarea name = "description" cols = "25" rows = "10"/>
							<%= user.description %>
				  	</textarea>
						<button type="submit">Beschreibung 채ndern</button>
					</form>
			</p>
	<b><a href="javascript:history.back()">Zur체ck</a></b>
	</body>
</html>
