<!DOCTYPE HTML>
<html>
	<head>
		<title>User-Profil</title>
	</head>
	<body>
			<h1><%= user.firstname %> <%= user.lastname %>'s Profil</h1>
			<p>
					Vorname: <%= user.firstname %><br/>
					Nachname: <%= user.lastname %><br/>
					E-Mail: <%= user.email %><br/>
					Beschreibung:
					<form action="<%= '/edit/' + user._id %>" method="POST">
						<textarea name = "description" cols = "25" rows = "10"/>
							<%= user.description %>
				  	</textarea>
						<button type="submit">Beschreibung ändern</button>
					</form>
			</p>
			 <!-- <div class ="row">
            <div class ="col-md-4">
                <img src="<%= user.avatar %>" alt="Profilbild">
            </div>
            <div class ="col-md-8">
            </div>
        </div> -->

	<b><a href="javascript:history.back()">Zurück</a></b>

	</body>
</html>
